name: Auto-merge Dependabot PRs

on:
  pull_request:

permissions:
  contents: write
  pull-requests: write

jobs:
  auto-merge:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    if: github.actor == 'dependabot[bot]'
    steps:
      - name: Auto-merge Dependabot PR
        uses: mctx-ai/action-dependabot-auto-merge@7417dfeb527b169f2cede521e00ec7f0f4522051 # v1.0.0
